.tablefy {
  font-family: inherit, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.tablefy td,
.tablefy th {
  border: 1px solid #ececec;
  padding: 8px;
}

.tablefy tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablefy tr:hover {
  background-color: rgba(0, 0, 0, 0.12);
  transition: 0.2s all;
  cursor: pointer;
}

.tablefy th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  color: #000;
  border: none;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.tablefy th:hover {
  border-color: tomato;
  transition: 0.2s border;
}

.tablefy thead tr:hover {
  background: transparent;
}
